* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
// ------------------
#ktng {
  width: 1912px;
  #head {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
      .video-bg video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        background: #000;
      }
    }
    #nav {
      width: 100%;
      height: 105px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 81px;
      box-sizing: border-box;
      / .nav-logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        svg {
          width: 130px;
          height: auto;
        }
      }
      //logo
      .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .nav-main {
          font-size: 20px;
          ul {
            display: flex;
            li {
              margin: 0 30px;
            }
          }
        }
        //nav-main
        .nav-sb {
          display: flex;
          justify-content: center;
          display: none;
        }
        //nav-sb
      }
      //nav-menu
      .menu-sb {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          display: flex;
          gap: 1rem;
          // justify-content: center;
          // align-items: flex-end;
          li:last-child {
            width: 27px;
            height: auto;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
          }
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}
