* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
// ------------------
#ktng {
  width: 100%;
  #head {
    margin: 0 81px;
    #nav {
      width: 100%;
      height: 105px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-logo {
        width: 130px;
        height: auto;
      }
      //logo
      .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // margin-left: 60px;
        .nav-main {
          font-size: 20px;
          ul {
            display: flex;
            li {
              margin: 0 30px;
            }
          }
        }
        //nav-main
        .nav-sb {
          display: flex;
          justify-content: center;
          display: none;
        }
        //nav-sb
      }
      //nav-menu
      .menu-sb {
        ul {
          display: flex;
          gap: 15px;
          justify-content: center;
          align-items: flex-end;
          li:last-child {
            width: 27px;
            height: auto;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
          }
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}
