* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
// ------------------
#ktng {
  // width: 1912px;
  #head {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
      .video-bg video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        background: #000;
      }
    }
    #nav {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 80px;
      box-sizing: border-box;
      background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);

      .nav-logo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        .ktng-logo {
          width: 130px;
          height: auto;
          fill: #fff;
        }
      }
      //logo
      .nav-menu {
        display: flex;
        flex-direction: column;
        position: relative;

        .nav-main {
          font-size: 20px;
          ul {
            display: flex;
            li {
              margin: 0 30px;
              transition: padding-bottom 0.35s ease;
              a {
                color: #fff;
                &:hover {
                  color: #000;
                }
              }
            }
          }
        }
        //nav-main
        .nav-sb {
          position: static;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 40px;
          padding: 20px 0;
          // opacity: 0;
          pointer-events: none;
          overflow: hidden;
          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: left;
          }
        }
        //nav-sb
      }
      //nav-menu
      .menu-sb {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          color: #fff;
        }
        ul {
          display: flex;
          gap: 1rem;
          li:last-child {
            width: 27px;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
          }
          a {
            font-size: 15px;
            color: #fff;
          }
        }
      }
    }
  }
  .med-main-text {
    margin: 12.438rem 0;
    text-align: center;
    p {
      margin-bottom: 40px;
      font-size: 28x;
    }
    h1 {
      font-size: 84px;
    }
    svg {
      fill: #000;
    }
  }
  #meddle {
    height: 100vh;

    .earth-bg {
      background-image: url(../images/med-earth-bg.png);
      position: relative;
      height: 100vh;

      .med-earth {
        background: url(../images/med-earth.png);
        height: 100vh;
        .earth-main {
          width: 100%;
          height: 100%;

          .bg-txt {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 8rem;
            gap: 1rem;
            color: #fff;
            p {
              font-size: 28px;
            }
            span {
              font-size: 20px;
            }
            .arrow {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;
              a {
                display: flex;
                color: #fff;
                p {
                  width: 26px;
                  height: 26px;
                  background: #fff;
                  border-radius: 50%;
                  margin-top: 2px;
                  svg {
                    color: #000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin: 1px 0 0 2px;
                  }
                }
              }
            }
          }
        }
      }
      .earth-main-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 40px;
        .earth-txt {
          padding: 40px;
          overflow: hidden;
          position: relative;
          width: 25rem;
          height: 25rem;
          background: #8eaefa;
          transform-style: preserve-3d;
          border-radius: 8px;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .circle {
            position: absolute;
            z-index: 1;
            width: 50%;
            height: 50%;
            background: #3f42e5;
            filter: blur(100px);
          }
          .c1 {
            top: 10%;
            left: 10%;
            animation: ani 5s infinite alternate ease-in-out;
          }
          .c2 {
            top: 40%;
            left: 45%;
            animation: rotate360 7s linear infinite,
              ani2 8s ease-in-out infinite alternate;
          }

          .con {
            z-index: 1;
            color: #fff;
            .tit-txt {
              display: flex;
            }
            h1 {
              font-size: 103px;
            }
            p {
              font-size: 32px;
            }
            span {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  #green {
    width: 100%;
    height: 100vh;
    position: relative;

    .grn-main {
      width: 100%;
      height: 100%;
      .con {
        position: absolute;
        bottom: 0;
        left: 50%;
      }
      .con-txt {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 8vw;
      }
    }
  }
  #forest {
    width: 100%;
    height: 100vh;
    background: url(../images/green-bg.webp);
    background-size: cover;
    .for-txt {
      width: 100%;
      color: #fff;
      .for-txt-main {
        padding: 60px 0 0 60px;
        p {
          font-size: 1.5vw;
        }
        h1 {
          font-size: calc(clamp(59.8px, 4.375vw, 84px) * 0.7619);
          margin-right: 20px;
        }
        .arrow {
          display: flex;
          gap: 20px;
          margin-top: 40px;
          a {
            display: flex;
            color: #fff;
            span {
              font-size: 1.25rem;
              margin-right: 10px;
            }
            p {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 26px;
              height: 26px;
              background: #fff;
              border-radius: 50%;
              margin-top: 2px;
              svg {
                color: #000;
                margin: 1px 0 0 2px;
              }
            }
          }
        }
      }
      .for-txt-sb {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }
}
@keyframes ani {
  100% {
    transform: translate(100px, -100px);
  }
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ani2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120px);
  }
}
