@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
#top {
  width: 100%;
  background: transparent;
}
#top .rogin {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 8px 20px;
  font-size: 13px;
  color: #666;
  border-bottom: 1px solid;
}
#top .rogin > li:first-child {
  border-right: 1px solid;
  padding: 0 10px 0 0;
}
#top .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
#top .nav .icon {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
#top .nav > li {
  margin-right: 35px;
  cursor: pointer;
  white-space: nowrap;
}
