@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
#top {
  width: 100%;
  height: 100vh;
  background-image: url("http://www.chai797.co.kr/chai/images/main/bg_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#top .bg {
  position: relative;
  z-index: 100;
  /* position: fixed;
  top: 0;
  left: 0; */
}
.bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.6); /* 하얀색 60% 투명 */
  z-index: -1; /* nav 내용 뒤에 배치 */
}
#top .rogin {
  display: flex;
  justify-content: flex-end;
  padding: 8px 20px;
  font-size: 13px;
  color: #777;
  border-bottom: 1px solid;
  gap: 10px;
}
#top .rogin > li:first-child {
  border-right: 1px solid;
  padding: 0 10px 0 0;
}
#top .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
}

#top .nav .icon {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
#top .nav > li {
  margin-right: 35px;
  cursor: pointer;
  white-space: nowrap;
}
