* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: inherit;
}
@font-face {
  font-family: "SEOULMILK";
  src: url(/webfonts/SEOULMILK\ 1000mL\ TTF.woff);
}
@font-face {
  font-family: "SEOULMILK";
  src: url(/webfonts/SEOULMILK\ 500mL\ TTF.woff);
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
// --------------------------
html {
  background: pink;
}
#seoulmilk {
  max-width: 1920px;
  font-family: "SEOULMILK";
  #nav {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s ease;
    position: relative;
    height: 120px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 120px; // nav 기본 높이
      width: 100%;
      height: 0;
      background: #fff;
      z-index: -1; // nav 뒤에 깔림
      transition: height 0.3s ease;
    }
    &.active {
      background: #fff;
      border-bottom: 1px solid #ccc;
      &::after {
        height: 290px;
      }
      .nav-main .tit-menu .tit > a,
      .nav-main .lang .lan-txt a {
        color: #191919;
      }
    }

    .seoul-logo {
      a {
        display: inline-block;
        margin-left: 130px;
      }
      img {
        width: 220px;
        height: auto;
      }
    }

    .nav-main {
      display: flex;
      margin-right: 130px;
      align-items: center;
      padding-left: 50px;
      .tit-menu {
        display: flex;
        .tit:first-child {
          padding-left: 0;
        }
        .tit {
          display: inline-block;
          padding: 0 32px;
          position: relative;
          .dropdown {
            position: absolute;
            top: 120px;
            left: 0;
            width: 100%;
            pointer-events: none;
            visibility: hidden;
            opacity: 0;
            transform: translateY(10px); // 아래에서 살짝 올라오게
            transition: opacity 0.25s ease, transform 0.25s ease;
            display: flex;
            .sub-menu {
              //   width: auto;
            }
          }

          &:hover .dropdown {
            pointer-events: auto;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }
        .tit > a {
          display: block;
          padding: 0 10px;
          line-height: 120px;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: -0.72px;
          color: #fff;
        }
      }
      .lang {
        display: flex;
        margin-left: 75px;
        li a {
          color: #a0a0a0;
          font-weight: bold;
        }
        .lan-txt a {
          color: #fff;
          display: inline-block;
          font-size: 17px;
          padding-right: 19px;
        }
        li + li {
          a {
            padding-left: 19px;
            border-left: 2px solid #b4b4b4;
          }
        }
        .all-view {
          background: url(../images/nav-menu.png) no-repeat;
          background-size: 100% auto;
          margin-left: 20px;
          width: 27px;
          height: 20px;
          font-size: 0;
          padding-right: 0;
        }
      }
    }
  }

  // nav-------------

  #seoul-main {
    .main-video {
    }
  }
}
