* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
@font-face {
  font-family: "SEOULMILK";
  src: url(/webfonts/SEOULMILK\ 1000mL\ TTF.woff);
}
@font-face {
  font-family: "SEOULMILK";
  src: url(/webfonts/SEOULMILK\ 500mL\ TTF.woff);
}
// --------------------------
html {
  background: #ccc;
}
#seoulmilk {
  width: 100%;
  font-family: "SEOULMILK";
  #nav {
    max-width: 1920px;
    height: 120px;
    background: transparent;
    transition: 0.35s ease;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    & .nav-main:hover h4,
    & .nav-main:hover ~ .lang .k a {
      color: #000;
    }
    &::after {
      content: "";
      position: absolute;
      top: 120px;
      left: 0;
      width: 100%;
      height: 0px;
      background: #fff;
      z-index: -1;
      transition: 0.35s ease;
    }
    &:hover {
      background: #fff;
      border-bottom: 1px solid #a0a0a0;
    }
    &:hover::after {
      height: 300px;
    }
    & .nav-main:hover::after {
      height: 300px;
    }
    & .nav-main:hover {
      background: #fff;
    }
    .nav-logo {
      display: flex;
      text-align: left;
      p {
        margin-left: 150px;
        img {
          max-width: 220px;
        }
      }
    }
    .nav-main {
      min-width: 970px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0;
      padding-left: 50px;
      color: #fff;
      &:haver .nav-menu:hover .sb-drop {
        max-height: 300px;
        opacity: 1;
        padding: 20px 30px;
        pointer-events: auto;
      }
      a {
        font-weight: normal;
      }
      .nav-menu {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        h4 {
          height: 120px;
          display: flex;
          align-items: center;
          cursor: pointer;
          white-space: nowrap;
        }
        .sb-drop {
          position: absolute;
          top: 120px;
          left: 0;
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          display: flex;
          padding: 0 25px;
          gap: 30px;
          text-align: left;
          pointer-events: none;
          transition: max-height 0.35s ease, opacity 0.25s ease,
            padding 0.3s ease;
          .sb-menu {
            white-space: nowrap;
            flex: 0 0 auto;
          }
        }
        &:hover .sb-drop {
          max-height: 400px;
          opacity: 1;
          padding: 20px 25px;
          pointer-events: auto;
        }
      }
    }
    .lang {
      display: flex;
      margin-right: 150px;
      justify-content: center;
      align-items: center;
      .k {
        a {
          margin-left: 75px;
          color: #fff;
        }
      }
      .e a {
        margin-left: 39px;
        position: relative;
        color: #a0a0a0;
        &::before {
          content: "";
          display: inline-block;
          width: 2px;
          height: 16px;
          background: #b4b4b4;
          position: absolute;
          left: -20px;
          top: 2px;
        }
      }
      a {
        font-size: 17px;
        font-weight: normal;
      }
      .img {
        margin-left: 20px;
        img {
          max-width: 27px;
          cursor: pointer;
          margin-top: 4px;
        }
      }
    }
  }
}
