@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
html,
body {
  overflow-x: hidden;
}

/* bg */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 103px;
  z-index: 2000;
  transform: translateY(-50px);
  opacity: 0;
  animation: bg 2s ease-out forwards;
  /* forwards = 애니 끝난 상태 유지 */
}
@keyframes bg {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.6); /* 하얀색 60% 투명 */
  z-index: -1; /* nav 내용 뒤에 배치 */
}

/* rogin */
.bg .rogin {
  display: flex;
  justify-content: flex-end;
  padding: 8px 20px;
  font-size: 13px;
  color: #777;
  border-bottom: 1px solid #ccc;
  gap: 10px;
  cursor: pointer;
}

.bg .rogin > li:first-child {
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

/* nav */
.bg .nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding-left: 30px;
}

.bg .nav > li {
  margin-right: 35px;
  cursor: pointer;
  white-space: nowrap;
}

/* text */
.bg .nav .text {
  margin-right: auto;
}
.bg .nav .text .txt {
  display: flex;
  gap: 40px;
}
.bg .nav .text .txt li a {
  font-size: 18px;
  transition: 0.2s;
}
.bg .nav .text .txt li a:hover {
  color: #b89a5a;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

/* icon */
.bg .nav .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 20px 20px 0;
  line-height: 25px;
}
.bg .nav .icon li {
  transition: 0.2s;
}
.bg .nav .icon li:hover {
  color: #b89a5a;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.bg .nav .icon img {
  vertical-align: middle;
}
.bg .nav .icon .hover {
  display: flex;
  flex-direction: column;
  position: relative;
}
.bg .nav .icon .hover .sv {
  display: none;
  position: absolute;
  top: 100%;
  left: -10px;
  background: #5f4c41;
  border-radius: 15px;
  padding: 3px 7px;
  margin-top: 3px;
  width: 75px;
  text-align: center;
  /* 후버시 클릭전까지 멈춤 */
}
.bg .nav .icon .hover .sv p {
  color: #fff;
}
.bg .nav .icon .hover:hover .sv {
  display: block;
}
.bg .nav .icon .hover:hover .sv p:hover {
  color: #b89a5a;
}
/* .hover:hover .sv,
.hover .sv:hover {
  display: block;
} - 후버시 고정예정*/

/* -----------------bg end------------------- */

#branch {
  width: 100%;
}

#top {
  background-image: url("http://chai797.co.kr/chai/images/sub/sub-visual-03.jpg");
  height: 374px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top h1 {
  color: #5f4c41;
  font-size: 48px;
}
/* ----------------top end------------------ */

/* search */
#meddle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#meddle .mdl {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  width: 1160px;
  height: 34px;
  background: rgba(138, 115, 101, 0.1);
  padding: 20px;
  margin: 80px 0;
  cursor: pointer;
}
#meddle .mdl .search h4,
#meddle .mdl .search .input {
  border: 1px solid #ccc;
  height: 35px;
  font-size: 15px;
  color: #fff;
  background-color: #8c6f5e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
}
#meddle .mdl .search h4 {
  width: 150px;
}
#meddle .mdl .search h4::after {
  content: "∧";
  position: absolute;
  right: 25px;
  font-size: 12px;
  transform: rotate(180deg);
  transform-origin: center;
  color: #fff;
}
#meddle .mdl .search h4:last-child::after {
  content: none;
}
#meddle .mdl .search ul {
  width: 150px;
}

#meddle .mdl .search ul li {
  display: none;
  color: #fff;
  background-color: #cbb7a8;
  height: 28px;
}

#meddle .mdl .search ul li:hover {
  color: #fff;
  background-color: #6a4b3b;
}
#meddle .mdl .search .input {
  text-align: center;
  width: 300px;
  outline: none;
}
.input::placeholder {
  color: #fff;
  font-size: 13px;
}
.input:focus {
  border-color: #fff;
}

/* ---------------meddle end----------------- */

#footer {
  position: relative;
}
#footer .foot {
  display: flex;
  justify-content: space-between;
  padding: 25px 75px 20px;
  line-height: 2;
  font-size: 13px;
  color: #8a7365;
}
#footer .foot::after {
  position: absolute;
  content: "";
  inset: 0;
  background: rgba(138, 115, 101, 0.1);
  z-index: -1;
}
#footer .foot .txt1 li span:first-child {
  border-left: none;
  padding-right: 10px;
}
#footer .foot .txt1 li span:nth-child(2),
#footer .foot .txt1 li span:nth-child(3) {
  border-left: 1px solid #ccc;
  padding: 0 10px;
}
#footer .foot .txt2 {
  position: relative;
  display: flex;
  gap: 20px;
  color: #333;
}
#footer .foot .txt2 li a {
  color: #333;
}
#footer .foot .txt2 .hvr {
  position: absolute;
  right: -50px;
  bottom: 90px;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  background: #5f4c41;
  z-index: 100;
  border-radius: 10px;
  /* top: -100%; */
}
#footer .foot .txt2 .hvr > li::after {
  content: " ∧";
  cursor: pointer;
}
#footer .foot .txt2 .hvr .hv {
  /* display: none; */
  /* position: absolute;
  bottom: 50px;
  right: 0px;*/
  /* height: 0; */
  /* overflow: hidden; */

  padding: 10px 20px;

  white-space: nowrap;
}
#footer .foot .txt2 .hvr .hv li a {
  color: #fff;
  line-height: 2;
}
/* footer end */
