@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
}
@font-face {
  font-family: "Montserrat";
  src: url("/webfonts/Montserrat-VariableFont_wght.woff");
}
@font-face {
  font-family: "Interop";
  src: url("https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Thin.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Medium.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-ExtraBold.woff2")
      format("woff2");
}
#portfolio {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

#portfolio .main {
  width: 100%;
  height: 100vh;
  background: #f0c146;
  position: relative;
  font-family: "Montserrat";
}
#portfolio .main p {
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#portfolio .main h1 {
  font-size: 180px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#portfolio .main span {
  font-size: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/* ------------------main end------------------ */

#portfolio .about {
  font-family: "Montserrat";
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
#portfolio .about .poto {
  width: 50%;
  height: 100%;
  background: #f0c146;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#portfolio .about .poto h1 {
  width: 420px;
  text-align: center;
  position: absolute;
  top: 40px;
  font-size: 80px;
  box-shadow: inset 0 -30px 0 0 #fff;
}
#portfolio .about .poto p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#portfolio .about .poto img {
  border-radius: 50%;
  border: 2px solid #fff;
}
#portfolio .about .poto span {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 28px;
  margin: 0 0 30px 10px;
  font-family: "Interop";
  font-weight: 800;
}
#portfolio .about-sb {
  position: relative;
}
#portfolio .about .poto-txt {
  background: #fff;
  width: 50%;
  font-family: "Interop";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#portfolio .about .poto-tx .sb-txt1,
#portfolio .about .poto-tx .sb-txt2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#portfolio .about .sb-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 25px;
  text-align: left;
  font-size: 20px;
  position: absolute;
  right: 50px;
  bottom: 20px;
}
#portfolio .about .sb-icon img {
  width: 40px;
  height: 40px;
}
