@charset "utf-8";
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------------양사이드 화살표 색상변경------------------- */
#con1 .swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
/* ------------------------------------------------------- */

/* ---------------밑 점 색상변경--------------------------- */
#con1 .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}
#con1 .swiper-pagination-bullet-active {
  background: #f00;
  opacity: 1;
}
/* -------------------------------------------------------- */
